/* Корзина */

.cart_list {
    height: 700px;
    background-color: beige;
    border-radius: 13px;
    overflow: hidden;
    transform: scale(1);
}

#indic {
    position: absolute;
    left: 1px;
    width: 10px;
    height: 40px;
    background-color: #ff3e00;
    z-index: 1;
}