#indic {
    position: absolute;
    left: 1px;
    width: 10px;
    height: 40px;
    background-color: #ff3e00;
    z-index: 1;
}

.container2 {
    max-height: 1045px;
    background-color: beige;
    border-radius: 13px;
    overflow: hidden;
    transform: scale(1);
}

/*
.card {
    width: 290px;
    height: 450px;
}
*/

.item-title {
    height: 115px;

}